*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background-color: lightyellow;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
  }
  
  .eduv {
    width: 130px;
  }
  
  .header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  

  
  .main-content {
    display: flex;
    align-items: center;
  }
  
  .fourth__bottom {
    padding: 30px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: #000 0 0 10px 1px;
  }
  
  .contact {
    margin: 50px 120px 100px 0;
  }
  
  .contact2 {
    width: 500px;
  }
  
  .bottom__titles {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 5px;
    background-color: #fff;
}

.bottom__inputs {
    width: 556px;
    padding: 18px 30px;
    border-radius: 14px;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 25px;
    outline: 0;
}

.bottom__inputs::placeholder {
    color: #898989;
    font-size: 15px;
    font-weight: 600;
}

.bottom__input {
    display: flex;
    max-width: 556px;
    width: 100%;
    height: 190px;
    border-radius: 14px;
    border: 1px solid #000;
    background: #FFF;
    padding: 18px 30px;
    margin-bottom: 40px;
    outline: 0;
    
}

.bottom__input::placeholder {
    color: #898989;
    font-size: 15px;
    font-weight: 600;
}

.btn__two {
    max-width: 556px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 35px;
    border-radius: 14px;
    background: var(--dark, #191A23);
    transition: 0.15s;
    border: 2px solid black;
}

.btn__two:hover {
  transition: 0.15s;
  color: #000;
  background-color: chartreuse;
}





