{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduV / Contact Us</title>
    <link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/contacts.scss' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/global.scss' %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon-16x16.png' %}">
</head>
<body>
    <header>
        <div class="container header-content">
            <nav class="nav">
                <div class="eduvv">
                    <img src="{% static 'main/img/eduv.png' %}" alt="Eduv" class="eduv">
                </div>
                <ul class="header__nav-list">
                    <li><a href="{% url 'home' %}" class="header__nav-link">Home</a></li>
                    <li><a href="{% url 'about' %}" class="header__nav-link">About Us</a></li>
                    <li><a href="{% url 'lessons' %}" class="header__nav-link" data-button= "content-3">Lessons</a></li>
                    <li><a href="{% url 'contacts' %}" class="header__nav-link active">Contact Us</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container main-content">
            <section class="girl">
                <img src="{% static 'main/img/girl.png' %}" alt="girl" class="contact2">
            </section>
            <section class="contact">
                <div class="fourth__bottom" style="background-color: #fff;">
                    <form method="post" style="background-color: #fff;display: flex;flex-direction: column;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn__two">Send Message</button>
                    </form>
                </div> 
            </section>
        </div>
    </main>
    <footer>
        <div class="container footer-content">
            <section class="top">
                <div class="logo-bl">
                    <img src="{% static 'main/img/eduv.png' %}" alt="logo" class="footer-logo">
                    <h1 class="footer-t">EduV</h1>
                </div>
                <section class="s-t">
                    <h1 class="socials-title">Subscribe to our s.m networks :)</h1>
                    <div class="socials">
                        <a href="https://t.me/eduvvuz">
                            <img src="{% static 'main/img/telegram.png' %}" alt="tg" class="tg">
                        </a>
                        <a href="https://www.tiktok.com/@eduvuz">
                            <img src="{% static 'main/img/tiktok.png' %}" alt="tg" class="tt">
                        </a>
                        <a href="https://www.instagram.com/eduv.uz">
                            <img src="{% static 'main/img/instagram.png' %}" alt="inst" class="inst">
                        </a>
                        <a href="https://youtube.com/@eduvuz">
                            <img src="{% static 'main/img/youtube.png' %}" alt="tg" class="yt">
                        </a>
                    </div>
                </section>
            </section>
            <hr>
            <section class="bottom">
                <h3>© 2024 made by Abdukhakim Rakhimboev.</h3>
            </section>
        </div>
    </footer>
    
    
    
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>

