{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduV / Lessons</title>
    
    
    <link rel="stylesheet" href="{% static 'main/css/lessons.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/lessons.scss' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/global.scss' %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon-16x16.png' %}">
</head>
<body>
    <header>
        <div class="container header-content">
            <nav class="nav">
                <div class="eduvv">
                    <img src="{% static 'main/img/eduv.png' %}" alt="Eduv" class="eduv">
                </div>
                <ul class="header__nav-list">
                    <li><a href="{% url 'home' %}" class="header__nav-link">Home</a></li>
                    <li><a href="{% url 'about' %}" class="header__nav-link">About Us</a></li>
                    <li><a href="{% url 'lessons' %}" class="header__nav-link active">Lessons</a></li>
                    <li><a href="{% url 'contacts' %}" class="header__nav-link">Contact Us</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
            <div class="bg__title">
                <h1 class="mn__title">SAT & IELTS</h1>
            </div>
        </div>
    </header>
    <main>
        <div class="container main-content">
            <section class="con-top">
                <h1 class="top-title">SAT:</h1>
            </section>
            <section class="con-bottom">
                
                
                
                
                
                <div class="bottoms">
                    <h1 class="tit-box">Math</h1>
                    <p class="text-box">
                        30 easy-to-follow lessons that will help you build a strong foundation in math.
                    </p>
                    <a href="{% url 'videos' %}?block=content1" class="btn-box"><span class="cl">Get started</span></a>
                </div>
                <div class="bottoms">
                    <h1 class="tit-box">Advanced math</h1>
                    <p class="text-box">
                        60 in-depth lessons, designed to challenge and elevate your mathematical skills.
                    </p>
                    <a href="{% url 'videos' %}?block=content2" class="btn-box"><span class="cl">Get started</span></a>
                </div>
                <div class="bottoms">
                    <h1 class="tit-box">English grammer</h1>
                    <p class="text-box">
                        14 lessons break down essential grammar rules to improve your language skills.
                    </p>
                    <a href="{% url 'videos' %}?block=content3" class="btn-box"><span class="cl">Get started</span></a>
                </div>
            </section>  
            <section class="image__box">
                <img src="{% static 'main/img/lesson1.png' %}" alt="lesson1" class="lesson1">
                <img src="{% static 'main/img/tothemoon.png' %}" alt="tothemoon" class="tothemoon">
            </section>
            <section class="con-top">
                <h1 class="top-titlee">IELTS:</h1>
            </section>
            <section class="con-bottomm">
                <div class="bottoms">
                    <h1 class="tit-box">Listening</h1>
                    <p class="text-box">
                        ... easy-to-follow lessons that will help you build a strong foundation in math.
                    </p>
                    <a href="#" class="btn-box"><span class="cl">Get started</span></a>
                </div>
                <div class="bottoms">
                    <h1 class="tit-box">Reading</h1>
                    <p class="text-box">
                        ... in-depth lessons, designed to challenge and elevate your mathematical skills.
                    </p>
                    <a href="#" class="btn-box"><span class="cl">Get started</span></a>
                </div>
                <div class="bottoms">
                    <h1 class="tit-box">Writing</h1>
                    <p class="text-box">
                        ... lessons break down essential grammar rules to improve your language skills.
                    </p>
                    <a href="#" class="btn-box"><span class="cl">Get started</span></a>
                </div>
                <div class="bottoms">
                    <h1 class="tit-box">Speaking</h1>
                    <p class="text-box">
                        ... lessons break down essential grammar rules to improve your language skills.
                    </p>
                    <a href="#" class="btn-box"><span class="cl">Get started</span></a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container footer-content">
            <section class="top">
                <div class="logo-bl">
                    <img src="{% static 'main/img/eduv.png' %}" alt="logo" class="footer-logo">
                    <h1 class="footer-t">EduV</h1>
                </div>
                <section class="s-t">
                    <h1 class="socials-title">Subscribe to our s.m networks :)</h1>
                    <div class="socials">
                        <a href="https://t.me/eduvvuz">
                            <img src="{% static 'main/img/telegram.png' %}" alt="tg" class="tg">
                        </a>
                        <a href="https://www.tiktok.com/@eduvuz">
                            <img src="{% static 'main/img/tiktok.png' %}" alt="tg" class="tt">
                        </a>
                        <a href="https://www.instagram.com/eduv.uz">
                            <img src="{% static 'main/img/instagram.png' %}" alt="inst" class="inst">
                        </a>
                        <a href="https://youtube.com/@eduvuz">
                            <img src="{% static 'main/img/youtube.png' %}" alt="tg" class="yt">
                        </a>
                    </div>
                </section>
            </section>
            <hr>
            <section class="bottom">
                <h3>© 2024 made by Abdukhakim Rakhimboev.</h3>
            </section>
        </div>
    </footer>
    
    
    

    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>