{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduV / Lessons</title>
    
    
    <link rel="stylesheet" href="{% static 'main/css/videos.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/videos.scss' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/global.scss' %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon-16x16.png' %}">
</head>
<body>
    <header>
        <div class="container header-content">
            <nav class="nav">
                <div class="eduvv">
                    <img src="{% static 'main/img/eduv.png' %}" alt="Eduv" class="eduv">
                </div>
                <ul class="header__nav-list">
                    <li><a href="{% url 'home' %}" class="header__nav-link">Home</a></li>
                    <li><a href="{% url 'about' %}" class="header__nav-link">About Us</a></li>
                    <li><a href="{% url 'lessons' %}" class="header__nav-link active">Lessons</a></li>
                    <li><a href="{% url 'contacts' %}" class="header__nav-link">Contact Us</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container main-content">
            <section class="video-navi">
                <a href="?block=content1" class="nav-button{% if block == 'content1' %} activee{% endif %}" data-target="content1">Math</a>
                <a href="?block=content2" class="nav-button{% if block == 'content2' %} activee{% endif %}" data-target="content2">Advanced math</a>
                <a href="?block=content3" class="nav-button{% if block == 'content3' %} activee{% endif %}" data-target="content3">English grammar</a>
            </section>
            
            <section class="video-boxes">
                <div id="content1" class="content-block{% if block == 'content1' %} active{% endif %}">
                    <section class="math-beg">
                        <iframe class="video-l" src="https://www.youtube.com/embed/FxNpB3CkC_0?si=QtxVUsU-9F9WZpi0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/onzhlNlaDfo?si=zfSM4Yb02UnIbOtZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/sUQydhBIdvI?si=7xW_60phRSjO98m3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/B1EeF1HZUFQ?si=qHqJNqtwI3WwUcfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/ZT9cBYlORXM?si=yNvxjwM1pjuLYXvZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/h5SFmEAmlqg?si=LFxWKkEwl9s1xN7d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/gk3lqrr_FwU?si=VRrtWw8hNBr1rxna" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/3uoM8ikhCgg?si=7Dj5sheyYIAMs71R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/ds9CUCcJ8hw?si=rq_AhLbNxuN56UmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/dZbINO7PI5U?si=MouyyUEzjX7iXLDG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/-2XKXLgxSkE?si=LVMIsqYHIbnK8iPg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/GVcQA4bebmo?si=pjwWVQFVCkNn1vy_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/XMinjtLhR4k?si=S6fP1qqA3tOrrRIP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/_Dfm5JEYQmc?si=0GmEu-RaxOLppn1_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe class="video-l" src="https://www.youtube.com/embed/Z2IxCayx7XY?si=9CtwAlayQCEaU0DJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </section>
                </div>
                <div id="content2" class="content-block{% if block == 'content2' %} active{% endif %}">
                    <h1>Advanced Math</h1>
                </div>
                <div id="content3" class="content-block{% if block == 'content3' %} active{% endif %}">
                    <h1>English Grammar</h1>
                </div>
            </section>
            
        </div>
    </main>
    <footer>
        <div class="container footer-content">
            <section class="top">
                <div class="logo-bl">
                    <img src="{% static 'main/img/eduv.png' %}" alt="logo" class="footer-logo">
                    <h1 class="footer-t">EduV</h1>
                </div>
                <section class="s-t">
                    <h1 class="socials-title">Subscribe to our s.m networks :)</h1>
                    <div class="socials">
                        <a href="https://t.me/eduvvuz">
                            <img src="{% static 'main/img/telegram.png' %}" alt="tg" class="tg">
                        </a>
                        <a href="https://www.tiktok.com/@eduvuz">
                            <img src="{% static 'main/img/tiktok.png' %}" alt="tg" class="tt">
                        </a>
                        <a href="https://www.instagram.com/eduv.uz">
                            <img src="{% static 'main/img/instagram.png' %}" alt="inst" class="inst">
                        </a>
                        <a href="https://youtube.com/@eduvuz">
                            <img src="{% static 'main/img/youtube.png' %}" alt="tg" class="yt">
                        </a>
                    </div>
                </section>
            </section>
            <hr>
            <section class="bottom">
                <h3>© 2024 made by Abdukhakim Rakhimboev.</h3>
            </section>
        </div>
    </footer>
    
    
    
    
    
    <!-- <script>
        document.querySelectorAll('.nav-button').forEach(function(box) {
            box.addEventListener('click', function() {
                // Удаляем класс activee у всех элементов
                document.querySelectorAll('.nav-button').forEach(function(item) {
                    item.classList.remove('activee');
                });

                // Добавляем класс activee к текущему элементу
                this.classList.add('activee');
            });
        });
    </script> -->
    <script src="{% static 'main/js/none.js' %}"></script>
</body>
</html>